@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: open sans;
	src: url(../assets/fonts/OpenSans-Light.ttf);
	font-weight: 200;
}
@font-face {
	font-family: open sans;
	src: url(../assets/fonts/OpenSans-Medium.ttf);
	font-weight: 400;
}
@font-face {
	font-family: open sans;
	src: url(../assets/fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: Iranian Sans;
    src: url(../assets/fonts/irsans_rasekhoon.ttf);
}

.contact-me-boxes {
	@apply border-1 text-dark-gray flex p-2 items-center cursor-default justify-between transition h-16 duration-200;
}
.work-sample-boxes {
	@apply dark-gray hover:shadow-3xsm transition duration-200 border-1 text-dark-gray;
}
.hover\:shadow-3xsm:hover {
	box-shadow: 0 10px 15px #000000de !important;
}

.contact-me-grid {
	@apply content-start gap-6 w-full h-full border-x-1 grid p-5 text-dark-gray; 
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.dark-gray {
	background:#1f1f1f;
}
.light-green {
	color:#28ccb5 !important;
	border-color:#28ccb5 !important;
}
.text-light-gray {
	color:#cdcdcd !important;
}
.bg-light-gray {
	background:#cdcdcd !important;
	border-color:#cdcdcd !important;
}
.text-dark-gray {
	color:#848484;
	border-color:#848484;
}
.border-b-1 {
	border-bottom-width: 1px;
}
.border-t-1 {
	border-top-width: 1px;
}
.border-1 {
	border-width: 1px;
}
.border-r-1 {
	border-right-width: 1px;
}
.border-l-1 {
	border-left-width: 1px;
}
.border-x-1 {
	border-left-width: 1px;
	border-right-width: 1px;
}

body,h1,h2,h3,button,div,header,footer,li,a,select {
	font-family: open sans,Iranian Sans,Arial, Helvetica, sans-serif !important;
}

.ham-menu-line-0 {
	top: 6px;
	transform: rotate(45deg);
}
.ham-menu-line-1 {
	top: 0 !important;
	bottom: 10px !important;
	transform: rotate(-45deg) !important;
}
.ws-preview {
	@apply flex justify-between xl:flex-row flex-col-reverse h-110 md:h-100 border-1 overflow-y-auto text-dark-gray dark-gray w-11/12;
}
.ws-info-overlay {
	@apply fixed py-10 w-full h-full flex justify-center items-center bg-black bg-opacity-80;
}
select {
	background: none;
	color: #848484 !important;
}
option {
	color: #1f1f1f !important;
}
.goog-te-banner-frame {
	display: none !important;
}
font {
	background: none !important;
	box-shadow: none !important;
}

.ico-instagram {background:url(../assets/icons/instagram.png);}
.ico-telegram {background:url(../assets/icons/telegram.png);}
.ico-github {background:url(../assets/icons/github.png);}
.ico-linkedin {background:url(../assets/icons/linkedin-logo.png);}
.ico-email {background:url(../assets/icons/email.png);}
.ico-x {background:url(../assets/icons/close.png);background-size: cover !important;}
.logo {background:url(../assets/favicon/my-logo.png);}